/*@font-face {
  font-family: Oswald;
  src: url(font/Oswald-Medium.ttf) format:('typeface');
}*/
html{
  background-color: rgb(230, 209, 255);
  background: url(pastel.jpeg);
  background-size: cover;
  background-position: center;
}

body{
text-align: center;
font-family: 'Trispace', sans-serif;
font-weight: bold;
}


li{
  text-align: left;
  list-style-type: square;
  list-style-position: inside;
}

h1{
  font-size: 60px;
  color: rgb(78, 12, 145);
  font-family: "Impact", Charcoal, sans-serif;
  font-weight: bold;
  filter: drop-shadow(2px 2px 5px grey);
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: rgb(78, 12, 145);
  text-decoration: none;
}

.menu > li {
  list-style-type: none;
  display: inline;
  padding: 10px 20px;
  margin-bottom: 50px;
  border: 0.5px solid;
}

#mainContainer{
  width: 100%;
  height: auto;
  position: relative;
}

.DivOne{
  width: 600px;
  height: auto;
  text-align: left;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 50px;
  filter: drop-shadow(5px 5px 8px black);
}

.DivHalf{
width: auto;
height: auto;
text-align: left;
margin-top: 50px;
padding-top: 10px;
}

.DivTwo{
  width: auto;
  height: auto;
  text-align: left;
  margin-top: 30px;
}

.DivThree{
  float: left;
  width: 700px;
  margin-top: 10px;
}

.DivFour{
  display: inline-flex;
}

.paragraph{
  text-align: center;
  margin-top: 10%;

}
h3{
  font-family: "Impact", Charcoal, sans-serif;
  font-weight: 100;
  color: rgb(78, 12, 145);
}

/* Page 2 */

h4{
  font-family: "Impact", Charcoal, sans-serif;
  font-weight: normal;
  color: black;
}

.BoxOne{
  width: 600px;
  height: auto;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-left: 70px;
  margin-top: 70px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.innerimg{
  transition: 0.3s;
}

.innerimg:hover{
  transform: scale(1.1);
}

.BoxOne::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;}
  .BoxOne:hover {
  transform: scale(1.2, 1.2);
}


.BoxTwo{
  width: 600px;
  height: auto;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-left: 70px;
  margin-top: 70px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.BoxTwo::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;}
  .BoxTwo:hover {
  transform: scale(1.2, 1.2);
}

.BoxThree{
  width: 600px;
  height: auto;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-left: 70px;
  margin-top: 70px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.BoxThree::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;}
  .BoxThree:hover {
  transform: scale(1.2, 1.2);
}

.BoxFour{
  width: 600px;
  height: auto;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-left: 70px;
  margin-top: 70px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.BoxFour::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;}
  .BoxFour:hover {
  transform: scale(1.2, 1.2);
}
